.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
#my-navbar {
    background-image: url(/static/backimg-nav.png);
    padding: 20px;
    height: 90px;
}
#my-panel1 {
    background-image: url(/static/backimg-panel1.png);
}
#my-panel2 {
    background-image: url(/static/backimg-panel2.png);
}
#my-panel3 {
    background-image: url(/static/backimg-panel3.png);
}
li#my-act {
    background-image: url(/static/backimg-act.png);
}
.backpic {
    background-image: url(/static/backimg-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
span.my-minlabel {
    color: #3f3f3f;
    font-weight: bold;
}
span#my-label {
    color: #0f0f0f;
    font-size: 80%;
    font-weight: bold;
}
div#login-relate {
    text-align: center;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px 15px;
    margin: 0px 5px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div#postlist-thumbnail {
    float: right;
}
div#postlist-header {
    margin: 4px 0px;
}
div#postlist-content {
    font-size: 130%;
    margin: 4px 0px 4px 4px;
}
div#postlist-content a{    
    color: #404040;
}
div#postlist-content a:hover{    
    text-decoration: none;
}
div#postlist-footer {
    color: #95999d;
    font-size: 80%;
}
div#postlist-footer a{
    color: #95999d;
}
div.post-category a{
    text-decoration: none;
}
div.post-footer a{
    text-decoration: none;
}
div#post-link {
    float: right;
}
ul.list-group {
    margin-left: 20px;
}
div.post {
    background-image: url(/static/backimg-post.png);
    background-position: center; 
}
div.post-title {
    text-align: center;
}
div.table {
    display: table;
    border-spacing: 5px;
}
div.right-row {
    text-align: right;
}
div.post-body {
    margin: 20px 50px;
}
div.show-category {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
div a span#more {
    float: right;
}
ul#category-list {
    line-height: 4px;
}
div#category-change {
    margin: 55px 100px 0px 0px;
    font-weight: bold;
}
h4#comments {
    font-weight: bold;
}
div#anonymous a {
    text-decoration: none;
}
div.comment-block {
    margin-top: 50px;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment-noportrait {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li#no-comment {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}
ul.comments li:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li:hover {
    background-color: #f0f0f0;
}
div.comment-time {
    float: right;
    font-size: 80%;
}
div.comment-post {
    text-align: right;
    font-size: 80%;
    font-weight: bold;
}
div.comment-author {
    font-weight: bold;
}
div.comment-body {
    clear: right;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}

div.comment-form {
    margin: 20px 50px;
}
div.input-comment {
    height: 65px;
}
div.moderate-comment {
    text-align: right;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 0px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
div#page-footer {
    margin: 60px 0px;
    font-variant: small-caps;
    text-align: center;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
