<ul class="comments">
<!-- 如果没有评论 -->
{% if not comments %}
	<li class="nothing">
		暂时没有评论
	</li>
{% else %}
	{% for comment in comments %}
	<li {% if post %}class="comment" {% else %}class="comment-noportrait"{% endif %}>
		<!-- 如果是在post页面 -->
		{% if post %}
		<div class="comment-thumbnail">
			<a href="{{ url_for('.user', username=comment.author.username) }}">
				<img class="img-rounded" src="{{ comment.author.gravatar(size=40) }}"/>
			</a>
		</div>
		{% endif %}
		<div {% if post %}class="comment-content" {% endif %}>
			<div class="comment-time">
				{{ moment(comment.timestamp).fromNow() }}
			</div>
			{% if post %}
			<div class="comment-author">
				<a href="{{ url_for('.user', username=comment.author.username) }}">
					{{ comment.author.username }}
				</a>
			</div>
			{% endif %}
			<div class="comment-body">
				{% if comment.disabled %}
				<p><i>此评论已被管理员删除。</i></p>
				{% endif %}
				{% if current_user.can(Permission.MODERATE_COMMENTS) or not comment.disabled %}
					{% if comment.body_html %}
						{{ comment.body_html|safe }}
					{% else %}
						{{ comment.body }}
					{% endif %}
				{% endif %}
			</div>
			<!-- 如果不在post页面，即在列表里 -->
			{% if not post %}
				<!-- 在首页 -->
				{% if amount %}	 
				<div class="comment-post">
					by
					<a href="{{ url_for('.user', username=comment.author.username) }}">
						{{ comment.author.username }}
					</a>
					in
					<a href="{{ url_for('.post', id=comment.post_id) }}">
						《{{ Post.query.filter_by(id=comment.post_id).first().title }}》
					</a>
				{% else %}
				<div class="comment-post">
					——
					<a href="{{ url_for('.post', id=comment.post_id) }}">
						《{{ Post.query.filter_by(id=comment.post_id).first().title }}》
					</a>
					by
					<a href="{{ url_for('.user', username=Post.query.filter_by(id=comment.post_id).first().author.username) }}">
						{{ Post.query.filter_by(id=comment.post_id).first().author.username }}
					</a>
				</div>
				{% endif %}
			{% endif %}
			{% if post %}
			{% if current_user.can(Permission.MODERATE_COMMENTS) %}
			<div class="moderate-comment">
				<br/>
				{% if comment.disabled %}
				<a class="btn btn-primary btn-xs" href="{{ url_for('.comment_enable', post_id=post.id, comment_id=comment.id, page=page) }}">恢复</a>
				{% else %}
				<a class="btn btn-danger btn-xs" href="{{ url_for('.comment_disable', post_id=post.id, comment_id=comment.id, page=page) }}">删除</a>
				{% endif %}
			</div>
			{% endif %}
			{% endif %}
		</div>
	</li>
	{% endfor %}
{% endif %}
</ul>