{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="zh-CN" {% endblock html_attribs %}

{% block title %}Flasky{% endblock %}


{% block head %}
{{ super() }}
<meta charset="utf-8"/>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Flasky</a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">主页</a></li>
				<li><a href="/">分类</a></li>
				<li><a href="{{ url_for('main.add_post') }}">添加文章</a></li>
			</ul>
        	<ul class="nav navbar-nav navbar-right">
        		{% if current_user.is_authenticated %}
        		<li class="dropdown">
                	<a href="/" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}<b class="caret"></b>
                	</a>
                	<ul class="dropdown-menu">
                		<li><a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a></li>
                		<li>
                			<a href="{{ url_for('auth.change_email_request') }}">更换邮箱地址</a>
                		</li>
                		<li>
                			<a href="{{ url_for('auth.change_password') }}">修改密码</a>
                		</li>
						<li>
							<a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;登出</a>
						</li>	
                	</ul>
                </li>
				{% else %}
				<li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;登入</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}


{% block content %}
<div class="container">
	<!--flash()渲染-->
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	{% block page_content %}{% endblock %}
</div>
{% endblock %}


<!--引入moment.js-->
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
{% endblock %}