{% extends "bootstrap/base.html" %}


{% block title %}Flasky{% endblock %}


{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


<!--navbar导航条-->
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<!--导航内容-->
	<div class="container">
		<!--header定义导航条首部-->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Flasky</a>
		</div>
		<!--collapse定义导航菜单-->
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">主页</a></li>
				<li><a href="/">分类</a></li>
				<li><a href="{{ url_for('main.add_post') }}">添加文章</a></li>
				<li><a href="/">about</a></li>
			</ul>
			<!--嵌套表单-->
        	<!-- <form action="/" class="navbar-form navbar-left" role="search">
            	<div class="form-group">
            	<input type="text" class="form-control"></input>
            	</div>
            	<button type="button" class="btn btn-default">搜索</button>
        	</form> -->
        	<ul class="nav navbar-nav navbar-right">
        		{% if current_user.can(Permission.MODERATE_COMMENTS) %}
        		<li><a href="{{ url_for('main.moderate') }}">管理评论</a></li>
        		{% endif %}
        		{% if current_user.is_authenticated %}
        		<li class="dropdown">
                	<a href="/" class="dropdown-toggle" data-toggle="dropdown">我的账户<b class="caret"></b>
                	</a>
                	<!--dropdowen menu下拉菜单选项-->
                	<ul class="dropdown-menu">
                		<li><a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a></li>
                		<li>
                			<a href="{{ url_for('auth.change_email_request') }}">更换邮箱地址</a>
                		</li>
                		<li>
                			<a href="{{ url_for('auth.change_password') }}">修改密码</a>
                		</li>
						<li>
							<a href="{{ url_for('auth.logout') }}">登出</a>
						</li>	
                	</ul>
                </li>
				{% else %}
				<li><a href="{{ url_for('auth.login') }}">登入</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}


{% block content %}
<div class="container">
	<!--flash()渲染-->
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	<!--页面内容-->
	{% block page_content %}{% endblock %}
</div>
{% endblock %}


<!--引入moment.js , jquery.js已经包含在Bootstrap，不用再引入-->
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<!--默认英语，转换为汉语-->
{{ moment.lang("zh-CN") }}
{% endblock %}