{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}zzFlask - 文章 - {{ post.title }}{% endblock %}

{% block page_content %}
<div class="post">
	<div class="post-title">
		<h2>{{ post.title }}</h2>
	</div>
	<div class="post-header">
		<div class="table">
			<div class="right-row">
				<span>by:<a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>&nbsp;@&nbsp;{{ moment(post.timestamp).format('LLL') }}</span>
			</div>
			<div class="table-row">
				<span class="table-cell label my-minlabel">分类</span>
				<img src="/static/backimg-label.png">
				<span class="table-cell label my-minlabel">{{ post.category.name }}</span>
			</div>
			<div class="table-row">
				<span class="table-cell label my-minlabel">标签</span>
				<img src="/static/backimg-label.png">
				{% for tag in post.tags %}
				<span class="table-cell label my-minlabel">{{ tag.name }}</span>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="post-body">
		{% if post.body_html %}
			{{ post.body_html|safe }}
		{% else %}
			{{ post.body }}
		{% endif %}
	</div>
</div>
	
<div class="post-footer">
	<div id="post-link">
		<a href="{{ url_for('.post', id=post.id) }}">
			<span class="glyphicon glyphicon-link"></span>
		</a>&nbsp;
	</div>
	<div id="post-edit">
		{% if current_user == post.author %}
		<a href="{{ url_for('.edit_post', id=post.id) }}">
			<span class="label label-primary"><span class="glyphicon glyphicon-pencil "></span>&nbsp;编辑</span>
		</a>&nbsp;
		{% elif current_user.is_administrator() %}
		<a href="{{ url_for('.edit_post', id=post.id) }}">
			<span class="label label-danger"><span class="glyphicon glyphicon-pencil "></span>&nbsp;管理</span>
		</a>&nbsp;
		{% endif %}
	</div>
</div>



<div class="comment-block">
<h4 id="comments">评论( {{ post.comments.count() }}条 )</h4>
</div>
{% if current_user.can(Permission.COMMENT) %}
<form action="" method="post" class="form" role="form">
	{{ form.hidden_tag() }}
	<div class="form-group">
		{{ form.body(only_input=True, rows=4, class="form-control", placeholder=form.body.label.text) }}
	</div>
	<div class="form-group">
		{{ form.body(only_preview=True)}}
	</div>
	<div class="form-group">
		{{ form.submit }}
	</div>
</form>
{% else %}
<div id="anonymous">
	<a href="{{ url_for('auth.login') }}"><h4><span class="label my-minlabel"> <img src="/static/backimg-label.png">Sign In To Make a Comment<img src="/static/backimg-label.png"> </span></h4></a>
</div>
{% endif %}
{% include '_comments.html' %}

{% if pagination %}
<div class="pagination">
	{{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=post.id) }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}